.reservoir-card {
  position: absolute;
  top: 97px;
  left: 410px;
  width: 570px;
  height: calc(100vh - 117px);
  background: #232532;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.reservoir-card-title {
  width: 570px;
  height: 68px;
  background: #272a38;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}

.reservoir-card-img {
  width: 273px;
  height: 183px;
  object-fit: contain;
  align-self: center;
  margin-top: 24px;
  margin-bottom: 50px;
}