.reservoir-card {
  position: absolute;
  top: 97px;
  left: 410px;
  width: 570px;
  height: calc(100vh - 117px);
  background: #232532;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.reservoir-card-title {
  align-items: center;

}