html, body {
  background: #1B1E27;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

b {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0;
  color: #fff;
  padding-left: 0;
  box-sizing: border-box;
}